<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <script>
        async function test() {
            //Get the Token of authenticated User: 
            let formData = new FormData()
            formData.append("username", "Sepp")
            formData.append("password", "Wasser123")
            formData.append("password_repeat", "Wasser123")
            formData.append("email", "Sepp@gmx.de")
            formData.append("first_name", "Sepp")
            formData.append("last_name", "Hans")


            let response = await fetch("/register/", {
                method: "POST",
                body: formData
            })
            let result = await response.json()
            console.log("Response", result);
        }
    </script>
</head>

<body onload="test()">

    {%block content%}{%endblock%}
    </div>
</body>

</html>